.team {


    display: flex;


    img {
        width: 110px;
        height: auto;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;

        border-radius: 50%;
    }

}
.team_list {
    list-style: none;
}

.team_list li:nth-child(odd) div {
    flex-direction: row;
}


.team_list li:nth-child(even) div {
    flex-direction: row-reverse;
}

.team_list li div h2 {
    font-family: 'Caveat', cursive;
}

h1.title_team {
  margin-top: 100px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 590px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}