.team {


    display: flex;


    img {
        float: left;
        width: 160px;
        height: auto;
        margin-right: 20px;
        margin-bottom: 10px;
        border: 8px solid $myyellow;
        border-radius: 50%;
    }

}
.team_list {
    list-style: none;
}

.container_team li:nth-child(odd) div {
    float: left;
}


.container_team li:nth-child(even) div {
    float: right;
}

.team_list li div h2 {
    font-family: 'Caveat', cursive;
}

h1.title_team {
  margin-top: 100px;
}

.about_desc {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
}

#next {
    color: black;
    font-family: 'Caveat';
    font-size: 130px;
    background-color: white;
    opacity: 0.8;
    border: 4px solid black;
    border-radius: 5px;
    padding: 40px;
}
.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 790px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}