.col-lg-4{
    .contact_h3{
        font-family: 'Roboto';
        color:white;
    
    }

}
.banner {
    opacity:0.6;

    #contact_header{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 5rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        color: white;
        mix-blend-mode: difference;
    }
}


@media screen and (max-width: 990px) {

    .contact-info{
        text-align: center;
    }

}


@media screen and (max-width: 500px) {
    
    .container-fluid {
        
        width: 96%;
        height: 50%;

        #contact_header {
            width: 95%;
            text-align: center;
            font-size: 100px;
        }
       
    }

}

@media (min-width: 576px) {
    .banner {
            h1#contact_header {
                font-size: 8rem;
            }
    }
}

@media (min-width: 768px) {
    .banner {
        h1#contact_header {
                font-size: 10rem;
            }
    }
}

@media (min-width: 992px) {
    .banner {
        h1#contact_header {
                font-size: 12rem;
            }
    }

}


