footer {
    color: white;
    font-family: 'Roboto';

    ul.little-nav {
        list-style-type: none;
        display: flex;
        padding: 0;
        order:2;
        text-align: center;
        font-family: 'Roboto';
        
        li {
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                color:white;
                font-size: 16px;
                display: inline;
                margin: 5px;

                &:hover{
                    color:$myyellow;
                }
            }
        }
    }

    .social-media {
        // display: flex;
        // justify-content: center;
        margin:0;
        // align-items: center;
        
        .follow {
            text-align: center;
        }


        ul {
            list-style-type: none;
            display: flex;
            justify-content: center;
            padding: 0; 
            
            li {
                // display: inline-block;
                padding: 10px;
                font-size: 40px;
                margin: 2px;
                order:1;     

            }
        }
    }


   
}

@media screen and (max-width: 1200px) {
    .little-nav li a {
        font-size: 40px;
    }

}


@media screen and (max-width: 900px) {
    .little-nav li a {
        font-size: 30px;
    }

}


@media screen and (max-width: 800px) {
    .little-nav li a {
        font-size: 25px;
    }

}


@media screen and (max-width: 700px) {
    .little-nav li a {
        font-size: 20px;
    }

    }



    @media screen and (max-width: 600px) {
        .little-nav li a {
            font-size: 15px;
        }

    }


@media screen and (max-width: 500px) {
    .little-nav li a {
        font-size: 13px;
    }
} 