footer {
    color: white;
    font-family: 'Roboto';

    .little-nav {
        list-style-type: none;
        display: flex;
        order:2;
        text-align: center;
        font-family: 'Roboto';

        li {
            display: inline-block;
            padding: 10px;

            a {
                text-decoration: none;
                color:white;
                font-size: 16px;
                display: inline;
                margin: 5px;

                &:hover{
                    color:$myyellow;
                }
            }
        }

    }

    @media screen and (max-width: 700px) {
        .social-media{
            text-align: center;
            max-width: 40%;
        }
    }
   
}