header {
    position: relative;
    height: 70px;
    margin: 0;
    padding: 0;
    z-index: 1;

    nav {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        margin:0;
        padding: 5px 20px;
        list-style: none;
        text-align: center;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 400ms;
        z-index: 1;
        
        img {
            width: auto;
            height: 60px;
            // margin-right: auto;
        }

        div {
            margin-right: auto;

            p {
                margin-bottom: 0;
                line-height: 20px;
                font-size: 20px;
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 700;
                color: white;
                opacity: 1;
            }
        }

        ul {
            margin: 0;
            padding-right: 50px;

            li {
                display: inline-block;
                padding: 10px;
                font-family: 'Montserrat Alternates', sans-serif;

    
                a {
                    // color: #25211E;
                    color: white;
                    text-decoration: none;
                    transition: color 400ms;

                    &:hover {
                        color: $myyellow;
                        text-decoration: none;
                    }
                }
            }
        }

        &:hover{
            background-color: rgba(0,0,0,1);
        }
    }

    
    .s-container{
        justify-content: space-between;
        align-items: baseline;

        #search {
            .form-control{
                color: #fff;
                background-color: transparent;
                border:0;
                border-radius:0;
                border-bottom: 1px solid #fff;
                margin:0;

                &:active, &:focus {
                    background-color: white;
                    border-radius: 2px;
                    color:black;
                }
            }
        }

        .search-btn {
            background-color: transparent; 
            color: white; 
            border: 2px solid white;
            font-family: 'Roboto';
            border-radius: 5px;
            font-size: 13px;
            padding: 8px;
            opacity: 0.4;
            margin:10px;
        
            &:hover {
                background-color: white;
                color:black;
            }
        }
    }
}