header {
    position: relative;
    height: 55px;
    margin: 0;
    padding: 0;

    nav {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100%;
        margin: 0;
        padding: 5px 15px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        transition: background-color 400ms;
        z-index: 9999;

        &:hover{
            background-color: rgba(0,0,0,1);
        }
        
        a.navbar-brand {
            position: relative;
            margin: 0;
            padding: 0;

            img {
                width: auto;
                height: 45px;

                &:last-of-type {
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: opacity 400ms;
                }
            }
    
            div {
                margin-left: 5px;
                line-height: 15px;
                font-size: 15px;
                font-family: 'Montserrat Alternates', sans-serif;
                font-weight: 700;
    
                span {
                    // margin-bottom: 0;
                    text-align: left;
                    color: $myyellow;
                    transition: color 400ms;
                    opacity: 1;

                    &:first-letter {
                        color: white;
                    }
                }
            }

            &:hover {
                img:last-of-type {
                    opacity: 1;
                }

                div span {
                    color: $mygreen;
                }
            }
        }

        div {
            li {
                a {
                    font-family: 'Montserrat Alternates', sans-serif;
                    // font-weight: bold;
                    text-decoration: none;
                    color: white;
                    transition: color 400ms;
    
                    &:hover {
                        color: $myyellow;
                        text-decoration: none;
                    }
                }

                &.current-menu-item {
                    a {
                        font-weight: bold;
                        color: $myyellow;
                    }
                }
            }

            &.links-horizontal ul {
                margin: 0;

                li {
                    display: inline-block;
                    margin-right: 5px;
                    padding: 0;
                    
                    a {
                        padding: 10px 0;
                        font-size: 1.1rem;
                    }

                    &:last-of-type {
                        padding-right: 0;
                    }
                }
            }

            &.links-vertical {
                a {
                    display: inline-block;
                    height: inherit;
    
                    i {
                        font-size: 1.6rem;
                        line-height: 45px;
                        color: white;
                        transition: color 400ms;
                    }
    
                    &:hover i, &[aria-expanded="true"] i {
                        color: $myyellow;
                    }
                }
                
                ul {
                    padding: 5px 0;
                    border: none;
                    background-color: rgba(0, 0, 0, 0.6);
                    transition: background-color 400ms;
    
                    li {
                        margin: 5px 0;
    
                        a {
                            display: inline-block;
                            width: 100%;
                            padding: 5px 0;
                            font-size: 1.5rem;
                            text-align: center;
                        }
                    }
                    
                    &:hover {
                        background-color: black;
                    }
                }
            }
        }
    
        div.s-container{
            form input {
                margin:0;
                padding: 5px;
                border: 0;
                border-radius: 0;
                border-bottom: 1px solid white;
                font-size: 0.8rem;
                color: white;
                background-color: transparent;
                transition: color 400ms,
                            background-color 400ms;

                &:active, &:focus {
                    color: black;
                    background-color: white;
                }
            }

            button {
                margin-left: 5px;
                border: 2px solid white;
                border-radius: 5px;
                padding: 5px;
                font-size: 0.8rem;
                font-family: 'Roboto';
                color: white;
                background-color: transparent;
                opacity: 0.5;
                transition: color 400ms,
                            background-color 400ms,
                            opacity 400ms;
                
                &:hover {
                    color: black;
                    background-color: white;
                    opacity: 1;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    header {
        nav {
            div.links-horizontal ul li {
                margin-right: 15px;
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}