
.offer-container__col {
    padding-top: 50px;
}
.offer-container__link {
    color: #fff;
    transition: color .3s ease;
    display: block;
    text-align: center;
    animation-delay: 2s;
    animation-duration: 2s;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #F9C002; 
    }
}
.offer-container__icon {
    height: 120px;
    max-width: 100%;
}
.offer-container__title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.offer-container__content {
    font-size: 1.1rem;
    text-align: center;
}

.container-fluid{
    opacity:0.6;

    #offer_header{
        color:black;
        font-family: 'Caveat';
        font-size: 130px;
        background-color: white;
        opacity:0.8;
        border: 4px solid black;
        border-radius: 5px;
        padding: 40px;
    }
}
