
.offer-container__col {
    padding-top: 50px;
}
.offer-container__link {
    color: #fff;
    transition: color .3s ease;
    display: block;
    text-align: center;
    &:hover, &:focus, &:active {
        text-decoration: none;
        color: #F9C002; 
    }
}
.offer-container__icon {
    height: 120px;
    max-width: 100%;
}
.offer-container__title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.offer-container__content {
    font-size: 1.1rem;
    text-align: center;
}

.banner {
    opacity: 1;

    #offer_header{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        font-size: 6rem;
        font-family: 'Montserrat Alternates', sans-serif;
        font-weight: bold;
        color: white;
        mix-blend-mode: difference;
    }
}

@media screen and (max-width: 500px) {
    
    .container-fluid {
        
        width: 96%;
        height: 50%;

        #contact_header {
            width: 95%;
            text-align: center;
            font-size: 100px;
        }
       
    }

}

@media (min-width: 576px) {
    .banner {
            h1#offer_header {
                font-size: 8rem;
            }
    }
}

@media (min-width: 768px) {
    .banner {
        h1#offer_header {
                font-size: 10rem;
            }
    }
}

@media (min-width: 992px) {
    .banner {
        h1#offer_header {
                font-size: 12rem;
            }
    }

}


