.filter-list {
    padding: 10px 0;
    background-color: $mygrey;

    ul {
        display: flex;
        padding: 0;
        list-style-type: none;
    
        li {
            margin-right: 10px;
    
            a {
                display: block;
                min-width: 100px;
                padding: 10px 20px;
                border-radius: 100vw;
                text-decoration: none;
                text-align: center;
                font-weight: bold;
                color: $mygrey;
                background-color: $mywhite;

                &:hover {
                    color: $mygrey;
                    background-color: $myblue;
                }
            }
        }
    }
}