.media {
    display: flex;
    justify-content: center;
    margin:0;
    align-items: center;
    
    
}
.social-media{

   

    li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
        font-size: 40px;
        margin: 2px;
        order:1;     
        
    }
}