@import url('https://fonts.googleapis.com/css?family=Dancing+Script:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap&subset=latin-ext');

$myblack: #040404;
$mygrey: #33312D;
$mywhite: #fbfbfb;
$myblue: #2292A4;
$mygreen: #00ff2f;
$myyellow: #ffc400;