@import "variables";
@import "social-media";
@import "container";
@import "footer";
@import "offer";
@import "about";
@import "portfolio";
@import "header";
@import "contact";
@import "search";

body {
    background-color: #0F0C0C;
    background:
        linear-gradient(50deg, #0F0C0C, black, #0D0E11, black, #0F0C0C, black, #0D0E11, black);
    font-family: 'Roboto';

    i {
        color: white;
        opacity: 0.4;
        font-size: 0.6em;

        &:hover {
            color: #F9C002;
            transition: 0.3s ease;
        }
    }

    p {
        font: 1em/1.2em 'Roboto', Helvetica, sans-serif, #FFF8F4;
        opacity: 0.7;
        // color: #FFF8F4;
        // font-size: 1em;
        // opacity: 0.7;
        // font-family: 'Roboto', sans-serif;
    }

    h1 {
        color: #C7C9B9;
        font-family: "Roboto";
    }

    div {
        color: #C7C9B9;
        font-family: 'Roboto', sans-serif;
        font-size: 1.1em;
    }

    .carousel-inner {
        width: 100%;
        margin-top: -90px;
    }

    //Zajawka na stronie głównej-o nas i oferta
    .container_au {
        display: inline-block;
        text-align: center;

        h1 {
            font-family: 'Roboto';
        }

        p {
            padding: 20px;
            display: block;
            margin: auto;
            text-align: center;
            font-family: 'Roboto';
        }

        .btn_more {
            background-color: transparent;
            border-radius: 4px;
            border: 2px solid grey;
            padding: 12px 4px;
            display: inline-block;
            margin:10px;

            a {
                text-decoration: none;
                font-family: 'Caveat', cursive;
                padding: 20px;
                color: #C7C9B9;
                font-size: 25px;

                &:hover {
                    color: #F9C002;
                    transition: 0.3s ease;
                }
            }
        }
    }

    // Przyciski na dole strony
    .buttons{
        #first, #second{

            background-color: transparent;
            border-radius: 4px;
            border: 2px solid grey;
            padding: 24px 12px;
            display: inline-block;
            margin:10px;

            a {
                text-decoration: none;
                font-family: 'Caveat', cursive;
                padding: 20px;
                color: #C7C9B9;
                font-size: 25px;
            
                &:hover{
                    color: #F9C002;
                    transition: 0.3s ease;
                }
            }
        
            &:hover{
                
                background-color: black;
                opacity: 0.4;
                transition: 0.3s ease;
            }
        }

    }

    .btn {
        a {
            text-decoration: none;
            font-family: 'Caveat', cursive;
            padding: 20px;
            color: #C7C9B9;
        }
        &:hover a {
            color: #F9C002;
        }
    }
}

h1, h2, h3, h4 {
    font-family: 'Righteous', cursive;
}