@import "social-media";
@import "container";
@import "footer";
@import "offer";
// @import "team";
// @import "contact";

body {
    background-color: black;

    i {
        color: white;
        opacity: 0.4;
        font-size: 20px;

        &:hover {
            color: yellow;
            transition: 0.4s;
        }
    }

    p {
        color: white;
        opacity: 0.3;
        font-family: 'Arial', sans-serif;
    }
    
    h1 {
        color: white;
        font-family: "Arial";
    }
    
    .nav-menu {
    
        list-style: none;
        font-size: 18px;
        font-family: 'Pathway Gothic One', sans-serif;
        background-color: #E6E1DD;
        top: 0;
        left: 0;
        min-width: 100%;
        padding: 10px;
        text-align: center;
    
        li {
            display: inline-block;
            padding: 10px;
            font-family: 'Pathway Gothic One', sans-serif;

            a {
                color: #25211E;
                text-decoration: none;
            }
        }
    }
    
    .carousel-inner {
        width: 800px;
        height: 800px;
    }

    button a {
        text-decoration: none;
    }

}