@import "variables";
@import "social-media";
@import "container";
@import "footer";
@import "offer";
@import "about";
@import "portfolio";

body {
    background-color: #0F0C0C;

    i {
        color: white;
        opacity: 0.4;
        font-size: 20px;

        &:hover {
            color: yellow;
            transition: 0.4s;
        }
    }

    p {
        color: #C7C9B9;
        font-size: 1.2em;
        // opacity: 0.7;
        font-family: 'Caveat', cursive;
    }

    h1 {
        color: #C7C9B9;
        font-family: "Arial";
    }

    div {
        color: #C7C9B9;
        font-family: 'Caveat', cursive;
        font-size: 1.1em;
    }

    .nav-menu {

        list-style: none;
        font-size: 1.2em;
        font-family: 'Pathway Gothic One', sans-serif;
        background-color: #E6E1DD;
        top: 0;
        left: 0;
        min-width: 100%;
        padding: 10px;
        text-align: center;

        li {
            display: inline-block;
            padding: 10px;
            font-family: 'Pathway Gothic One', sans-serif;

            a {
                color: #25211E;
                text-decoration: none;
            }
        }
    }

    .carousel-inner {
        width: 800px;
        height: 800px;
    }

    button {
        color: #C7C9B9;
        text-decoration: none;
        font-size: 1.8em;
    }

    .buttons {
        a {
            font-size: 1.8em;
            text-decoration: none;
            color: #C7C9B9;
        }
    }

    .btn {
        a {
            text-decoration: none;
            padding: 20px;
            color: #C7C9B9;
        }
        &:hover a{
            color: darkblue;
        }
    }
}
